.container {
  background-color: #fff;
  margin: 20px 0;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  width: 100%;
  border-bottom: #CC0CA2 7px solid;
}

.container p {
  font-size: 4rem;
  text-decoration: underline;
  color: black;
  font-weight: 600;
  margin: 10px 0;
}

.total {
  font-size: 2.5rem;
}

.text {
  font-size: 2rem;
  color: #9fa19f;
}

.date {
  margin: 10px;
}

.increase {
  color: #9fa19f;
}

.dateText {
  color: crimson;
}

.timeText {
  color: crimson;
}