@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ebedeb;
  /* background-image: url('https://images.unsplash.com/photo-1584931423298-c576fda54bd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#root {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Source Sans Pro',
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#chart {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-bottom: 7px solid #cc0ca2;
  padding: 10px;
}

.main-heading {
  font-size: 5rem;
  font-weight: 700;
  margin: 10px;
  color: black;
  font-family: 'Roboto Mono',
    monospace;
}

.image-hand {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  left: 80px;
  width: 200px;
  margin: 0;
}

.image-mask {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 80px;
  width: 200px;
  margin: 0;
}

.image-wash {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  top: 350px;
  left: 80px;
  width: 200px;
  margin: 0;
}

.image-calender {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 80px;
  width: 200px;
  margin: 0;
}

.image-virus {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 80px;
  width: 200px;
  margin: 0;
}

.image-shake {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: fixed;
  top: 350px;
  right: 80px;
  width: 200px;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  img {
    display: none;
  }

  .chart-container {
    display: none;
  }

  .main-heading {
    color: white;
    font-size: 4rem;
  }

  #root {
    background-color: transparent;
  }

  body {
    background-color: #ebedeb;
    background-image: url('https://images.unsplash.com/photo-1584931423298-c576fda54bd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
}