@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ebedeb;
  background-image: url('assets/images/coronavirus/3599609.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

#root {
  /* background-color: rgba(255, 255, 255, 0.5); */
  font-family: 'Source Sans Pro',
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#chart {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-bottom: 7px solid #cc0ca2;
  padding: 10px;
}

.main-heading {
  font-size: 5rem;
  font-weight: 700;
  margin: 10px;
  color: #07f0e4;
  font-family: 'Roboto Mono',
    monospace;
}

.global-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px;
  color: #fff;
  font-family: 'Roboto Mono',
    monospace;
}

.search-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px;
  color: #fff;
  font-family: 'Roboto Mono',
    monospace;
}

.image-hand {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  left: 80px;
  width: 200px;
}

.image-mask {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 80px;
  width: 200px;
}

.image-wash {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: fixed;
  top: 350px;
  left: 80px;
  width: 200px;
}

.image-calender {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 80px;
  width: 200px;
}

.image-virus {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 80px;
  width: 200px;
}

.image-shake {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: fixed;
  top: 350px;
  right: 80px;
  width: 200px;
}

@media only screen and (min-width:860px) and (max-width: 1435px) {
  img {
    display: none;
    width: 150px;
  }

  .main-heading {
    font-size: 4rem;
  }

  .global-heading {
    font-size: 2.5rem;
  }

  .search-heading {
    font-size: 2.5rem;
  }

  #root {
    background-color: transparent;
  }

  body {
    background-color: #ebedeb;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
}

@media only screen and (max-width: 858px) {
  .chart-container {
    display: none;
  }

  img {
    display: none;
  }

  .main-heading {
    font-size: 4rem;
  }

  #root {
    background-color: transparent;
  }

  body {
    background-color: #ebedeb;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
}