@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("assets/images/coronavirus/45-degree-fabric-light.png");
  background-attachment: fixed;
  text-align: center;
}

#mobile-only {
  display: none;
}

#root {
  /* background-color: rgba(255, 255, 255, 0.5); */
  font-family: 'Source Sans Pro',
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#chart {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border-bottom: 7px solid #cc0ca2;
  padding: 10px;
}

.main-heading {
  font-size: 5rem;
  font-weight: 700;
  margin: 10px;
  color: #07f0e4;
  font-family: 'Roboto Mono',
    monospace;
}

.global-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px;
  color: #fff;
  font-family: 'Roboto Mono',
    monospace;
}

.search-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px;
  color: #fff;
  font-family: 'Roboto Mono',
    monospace;
}


@media only screen and (min-width:860px) and (max-width: 1435px) {
  .main-heading {
    font-size: 4rem;
  }

  .global-heading {
    font-size: 2.5rem;
  }

  .search-heading {
    font-size: 2.5rem;
  }

  #root {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
}

@media only screen and (max-width: 858px) {
  .chart-container {
    display: none;
  }

  .main-heading {
    font-size: 4rem;
  }

  #card-container {
    padding: 0 30px;
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  #root {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  body {
    background-color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .doughnut-container {
    display: none;
  }
}