.search {
  margin: 10px;
  border: none;
  width: 100%;
  /* border-bottom: 2px solid red; */
  border-radius: 3px;
  font-size: 1.5rem;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
  -webkit-appearance: none;
  padding: 5px;
  background-position-x: 99%;
  font-family: 'Roboto Mono',
    monospace;
}